.NoDataFoundPage-comp{
        background-image: url("../../assets/images/pattern.png");
        background-position: center;
        /* background-size: 103px; */
        /* background-repeat: no-repeat; */
        width: 100%;
        height: 50vh;
}