// @import url(http://db.onlinewebfonts.com/c/d365bd25dab9cb26c8171719170dfe81?family=Brandon+Text);
// @import url(http://db.onlinewebfonts.com/c/749ba57b431f4eba8b31eb57d5aab83e?family=Brandon+Text+Medium);
// @import url(http://db.onlinewebfonts.com/c/47b83f8dbd3bf93e0df5674b32c6a7e4?family=BrandonTextWeb-Regular);

/*-------BrandonTextWeb-Bold-------------*/
@font-face {
    font-family: "Brandon Text";
    src: url("../../assets/font-family/Brandon_Text.ttf") format("truetype"); /* chrome firefox opera Safari, Android, iOS 4.2+*/
    // src: url("http://db.onlinewebfonts.com/t/d365bd25dab9cb26c8171719170dfe81.eot"); /* IE9*/
    // src: url("http://db.onlinewebfonts.com/t/d365bd25dab9cb26c8171719170dfe81.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    // url("http://db.onlinewebfonts.com/t/d365bd25dab9cb26c8171719170dfe81.woff2") format("woff2"), /* chrome firefox */
    // url("http://db.onlinewebfonts.com/t/d365bd25dab9cb26c8171719170dfe81.woff") format("woff"), /* chrome firefox */
    // url("http://db.onlinewebfonts.com/t/d365bd25dab9cb26c8171719170dfe81.svg#Brandon Text") format("svg"); /* iOS 4.1- */
}

/*-------BrandonTextWeb-Medium-------------*/
@font-face {
    font-family: "Brandon Text Medium";
    // src: url("http://db.onlinewebfonts.com/t/749ba57b431f4eba8b31eb57d5aab83e.eot"); /* IE9*/
    // src: url("http://db.onlinewebfonts.com/t/749ba57b431f4eba8b31eb57d5aab83e.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    // url("http://db.onlinewebfonts.com/t/749ba57b431f4eba8b31eb57d5aab83e.woff2") format("woff2"), /* chrome firefox */
    // url("http://db.onlinewebfonts.com/t/749ba57b431f4eba8b31eb57d5aab83e.woff") format("woff"), /* chrome firefox */
    // url("http://db.onlinewebfonts.com/t/749ba57b431f4eba8b31eb57d5aab83e.svg#Brandon Text Medium") format("svg"); /* iOS 4.1- */
    src: url("../../assets/font-family/Brandon_Medium.ttf") format("truetype"); /* chrome firefox opera Safari, Android, iOS 4.2+*/
}

/*-------BrandonTextWeb-Regular-------------*/
@font-face {
    font-family: "BrandonTextWeb-Regular";
    src: url("../../assets/font-family/Brandon_Bold.ttf") format("truetype"); /* chrome firefox opera Safari, Android, iOS 4.2+*/
    // src: url("http://db.onlinewebfonts.com/t/47b83f8dbd3bf93e0df5674b32c6a7e4.eot"); /* IE9*/
    // src: url("http://db.onlinewebfonts.com/t/47b83f8dbd3bf93e0df5674b32c6a7e4.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    // url("http://db.onlinewebfonts.com/t/47b83f8dbd3bf93e0df5674b32c6a7e4.woff2") format("woff2"), /* chrome firefox */
    // url("http://db.onlinewebfonts.com/t/47b83f8dbd3bf93e0df5674b32c6a7e4.woff") format("woff"), /* chrome firefox */
    // url("http://db.onlinewebfonts.com/t/47b83f8dbd3bf93e0df5674b32c6a7e4.svg#BrandonTextWeb-Regular") format("svg"); /* iOS 4.1- */
}

html,
body {
    font-family: "BrandonTextWeb-Regular" !important;
    height: 100%;
}

body {
    color: #232323 !important;
}

.brandon-regular {
    font-family: "BrandonTextWeb-Regular" !important;
}

.brandon-Medium {
    font-family: "Brandon Text Medium" !important;
}

.brandon-Bold {
    font-family: "Brandon Text" !important;
}

.pink-txt {
    color: #cb007b !important;
}

.gray-txt{
    color:#919191;
}

.outline-none {
    outline: none;
}

.h-100 {
    height: 100vh;
}

.w-170 {
    width: 170px;
}

.gray-hr {
    border-color: #c8c7cc;
}

.lightgray-border{
    border-color:#C8C7CC !important;
}

.f-15{
    font-size: 15px;
}

.minwidth-260{
    min-width: 260px !important;
}
.my_shadow{
    box-shadow: 0px 1px 20px 0px #00000018;
}

// Pink Button css start
.pinkline-btn {
    border: 1px solid #cb007b !important;
    color: #cb007b !important;
    height: 40px;
    min-width: 160px;
    transition: all 0.2s;
    &:hover {
        background: #cb007b;
        color: #fff !important;
        border: 1px solid #fb6bb5 !important;
    }
    &:hover span {
        padding-left: 25px;
        &::after {
            opacity: 1;
            left: 0;
        }
    }

    span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: all 0.2s;
        &::after {
            content: "+";
            font-size: 20px;
            position: absolute;
            opacity: 0;
            top: -4px;
            left: -15px;
            transition: all 0.2s;
        }
    }

    &:focus {
        box-shadow: 0 0 0 0.2rem #d00b812e !important;
    }
}

// Pink Button css end

// Pink CheckBox Css start
.pink-checkbox {
    .custom-control-input {
        width: 20px;
        height: 20px;
        &:checked {
            ~ .custom-control-label {
                &::before {
                    border-color: #cb007b;
                    background-color: #ffffff;
                }
                &::after {
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9.898' height='7.014' viewBox='0 0 9.898 7.014'%3E%3Cpath id='Path_411' data-name='Path 411' d='M-8.169-3.752l5.362-5.362.826.826L-8.169-2.1l-3.71-3.71.826-.826Z' transform='translate(11.879 9.114)' fill='%23cb007b'/%3E%3C/svg%3E%0A") !important;
                }
            }
        }
        &:focus {
            ~ .custom-control-label {
                &::before {
                    box-shadow: none;
                }
            }
            &:not(:checked) {
                ~ .custom-control-label {
                    &::before {
                        border: 1px solid #919191;
                    }
                }
            }
        }
    }
    .custom-control-label::before,
    .custom-control-label::after {
        border: 1px solid #919191;
        width: 20px;
        height: 20px;
        top: 1px;
    }
    .custom-control-label::after {
        border: none;
    }
    .custom-control-label {
        padding-left: 10px;
        cursor: pointer;
    }
}
// Pink CheckBox Css end

// select actiondropdown css start
select {
    &.actiondropdown-btn {
        border: 1px solid #c8c7cc;
        border-radius: 6px;
        width: 120px;
        max-height: 40px;
        padding: 0px 25px 0px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 40px;
        appearance: none;
        outline: none;
        background-image: url("../../assets/images/down-arrow.svg");
        background-position: 85%;
        background-size: 10px;
        background-repeat: no-repeat;

        // &:after{
        //     content: '';
        //     position: absolute;
        //     width: 10px;
        //     height: 10px;
        //     right: 0;
        //     background-image:url('../../assets/images/down-arrow.svg') ;
        //     background-position: center;
        //     background-size: cover;
        // }
    }
}

// select actiondropdown css end

// selectdropdown-btn css start
select {
    &.selectdropdown-btn {
        border: 1px solid #c8c7cc;
        border-radius: 6px;
        width: 120px;
        max-height: 40px;
        padding: 0px 30px 0px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 40px;
        appearance: none;
        outline: none;
        background-image: url("../../assets/images/down-arrow.svg");
        background-position: 93%;
        background-size: 10px;
        background-repeat: no-repeat;
        color: #232323;
        font-size: 15px;
    }
}
// selectdropdown-btn css end

// custom-drodown css start
.custom-drodown {
    .form-control {
        width: 100%;
        min-width: 255px;
        border-color: #919191;
        font-size: 14px;
        min-height: 40px;
        &:focus {
            box-shadow: 0 0 0 0.2rem #e4e4e4;
            border-color: #919191;
        }
        &::placeholder {
            color: #919191;
        }
    }
}
// custom-drodown css end

.input-search {
    .form-control {
        max-width: 255px;
        width: 100%;
        min-width: 255px;
        border-color: #919191;
        font-size: 14px;
        min-height: 40px;
        &:focus {
            box-shadow: 0 0 0 0.2rem #e4e4e4;
            border-color: #919191;
        }
        &::placeholder {
            color: #919191;
        }
    }
}

.main-content {
    padding: 125px 50px 25px 130px;
}

.page-heading {
    border-bottom: 1px solid #c8c7cc;
    padding-bottom: 28px;
    h4 {
        font-size: 28px;
        color: #2e482b;
        small {
            font-size: 20px;
            color: #919191;
            font-weight: 400;
        }
    }
}

.sub-heading {
    font-size: 18px;
    color: #919191 !important;
    text-decoration: none;
}

.my_custom_table {
    border-radius: 20px;
    box-shadow: 0px 1px 20px 0px #00000018;
    table {
        margin-bottom: 0px;
        &.table-main {
            tr {
                th {
                    border-top: none;
                    height: 75px;
                    vertical-align: middle;
                    font-size: 14px;
                    color: #232323;
                    padding: 0.75rem 2rem;
                }
                td {
                    height: 60px;
                    vertical-align: middle;
                    font-size: 15px;
                    color: #232323;
                    padding: 0.75rem 2rem;
                }
                &:nth-of-type(even) {
                    background-color: #fafafa;
                }
                &:nth-of-type(odd) {
                    background-color: transparent;
                }
            }
        }
    }
}
.custom_edit_button {
    border: none;
    border-bottom: 2px solid #919191;
    background: transparent;
    color: #919191;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0;
    outline: none;
}