.workus-wrapper {
  .rightlist-subwrapper {
    position: absolute;
    right: 0;
    // top: 60px;
    z-index: 1;
    max-width: 520px;
    border-radius: 10px;
    box-shadow: 1px 9px 25px 0px #0000000f;
    background-color: #fff;
    padding: 30px;

    h3 {
      font-size: 26px;
    }

    ul {
      &.list-wrapper {
        list-style: none;
        li {
          &:before {
            content: "";
            position: absolute;
            left: 0;
            width: 6px;
            height: 6px;
            background: #ff75ba;
            border-radius: 50%;
            top: 0;
            margin-top: 10px;
          }
        }
      }
    }
    &.works-list{
      padding: 50px 60px;
    }
  }
  .rightimg-subwrapper {
    border-radius: 20px;
    box-shadow: 0px 5px 36px 0px #00000024;
  }
}
